<?js var data = obj.docs; ?>

<?js if (data.readme) { ?>
<?js= data.readme ?>
<?js } else { ?>
<?js obj.title ?>
==================
<?js } ?>


API
---------------

.. toctree::
    :maxdepth: 2

    api


Indices and tables
==================

* :ref:`genindex`
