<?js
var self = this;
var data = obj.docs;
var heading;

heading = data.name + '\n' +
          this.repeat('=', data.name.length)

if(data.description){
    heading = heading + '\n\n' +
    '.. code-block:: js\n\n' +
    self.tab + 'var module = require(\'' + data.qualname.split('.').join('/') + '\')' +
    '\n\n' +
    data.description + '\n\n'
}
?>

<?js= heading ?>

.. currentmodule:: <?js= data.qualname ?>
<?js
data.members.forEach(function(member){
    print(self.partial('member.tmpl', member))
})

data.functions.forEach(function(func){
    print('\n' + self.partial('function.tmpl', func).trim())
})

data.classes.forEach(function(cls){
 print('\n' + self.partial('class.tmpl', cls))
})

?>


